.clean-side-padding
    padding-left: 0
    padding-right: 0

.page-header
    +common-block-title

.navbar
    border: none
    background: #024073
    margin-bottom: 0
    .logo
        img
            +below($breakpoint2)
                +size(auto, 50px)
    ul.menu
        margin-top: 30px
        +below($breakpoint2)
            margin-top: 0
        li
            a
                font: 13px $globalfont
                color: #fff
                padding-right: 10px
                padding-left: 10px
                text-transform: uppercase
            &.active,
            &:hover,
            &:focus
                a
                    color: #fff !important
                    background: none !important
                    text-shadow: 0 0 5px rgba(0,0,0,0.5)
            .dropdown-menu
                background: rgba(0,78,123,0.85)
                li
                    a
                        font-size: 16px
                        padding-top: 10px
                        padding-bottom: 10px
                        &:hover
                            color: $color-primary

.searchbox
    +rightblock(200px)
    margin-top: 35px
    margin-left: 40px
    +below($breakpoint2)
        float: none
        margin: 0
    .form--inline
        +flex-row
        .form-type-textfield
            width: 80%
            .form-text
                width: 100%
                border-radius: 5px 0 0 5px
                border-right: none
        .form-actions
            width: 20%
            .form-submit
                +size(100%, 100%)
                +bgnorep-cc("icon-search.svg")
                background-size: 60% 60%
                border-radius: 0 5px 5px 0
                border-left: none
                background-color: $color-primary
                text-indent: -9999px


.slideshow,
    .view-content
        .flexslider
            border: none
            +below($breakpoint2)
                margin-bottom: 20px
            .slides
                li
                    position: relative
                    .views-field-field-image
                    .group
                        +posabs1(20%,0)
                        padding: 5% 0
                        text-align: center
                        background: rgba(0,0,0,0.7)
                        color: #fff
                        width: 100%
                        +below($breakpoint2)
                            padding: 0
                            background: none
                            top: 0
                        .views-field-title //Chu gioi thieu
                            font: 40px $titlefont
                            text-transform: uppercase
                            +below($breakpoint2)
                                font-size: 30px
                        .views-field-body
                            +centerblock(40%)
                            font: 16px/30px $globalfont
                            margin: 20px auto
                            +below($breakpoint2)
                                width: 90%
                                font-size: 13px

                        .views-field-nothing
                            a
                                +opacity-hover
                                display: inline-block
                                font: 17px/35px $globalfont
                                color: white
                                padding: 0 25px
                                background: none
                                border: 1px solid rgba(255,255,255,0.8)
                                &:hover
                                    text-decoration: none

.home-dichvu
    .block-title
        +common-block-title
    .view-content
        padding-top: 20px
        .views-row
            text-align: center
            .views-field-field-image
                a
                    display: inline-block
                img
                    +centerblock-h(70%,auto)
                    +opacity-hover
            .views-field-title
                //+bgnorep-bc("small-sperator.png")
                padding: 20px 0
                h3
                    margin: 0
                a
                    font: bold 20px/25px $globalfont
                    color: $color-primary
                    &:hover
                        text-decoration: none
            .views-field-body
                padding: 20px 0
            .views-field-nothing
                a
                    +opacity-hover
                    border-radius: 5px
                    display: inline-block
                    background: #333
                    color: #fff
                    font: 15px/30px $globalfont
                    padding: 0 25px
            //.views-row
            +below($breakpoint2)
                margin-bottom: 20px
                .views-field-field-image
                    +leftblock(25%)
                .views-field-title
                    +leftblock(75%)
                    padding: 0 0 0 15px
                    text-align: left
                    a
                        font-size: 20px
                .views-field-nothing
                    +hide

.home-gallery
    margin-top: 40px
    +below($breakpoint2)
        margin-top: 0
    +above(1920px)
        padding: 0 20%
    .block-title
        +common-block-title
    .view-content
        +flex-row
        .views-row
            flex-basis: 25%
            +below($breakpoint2)
                flex-basis: 50%
                margin-bottom: 20px
            .views-field-title
                h3
                    font: bold 18px $globalfont
    .more-link
        margin-top: 20px

.article-banner
    .view-content
        img
            +size(100%,auto)

.home-doitac,
.home-tintuc,
.home-sanpham,
.home-sanpham-noibat,
.sanphamkhac
    margin-top: 30px
    .block-title
        +common-block-title
.home-duan
    margin-top: 20px
    +below($breakpoint2)
        padding-bottom: 0
    .block-title
        +common-block-title

.footerinfo,
.contact-helper
    +below($breakpoint2)
        margin-bottom: 20px
    .views-field-body
        color: #fff
        font: 14px $globalfont
        text-align: justify
        +below($breakpoint2)
            font-size: 17px
        p.icon
            padding-left: 30px
            background-size: 20px 20px !important
            &.diachi
                +bgnorep-lc("icon-home1.svg")
            &.website
                +bgnorep-lc("icon-web1.svg")
            &.phone
                +bgnorep-lc("icon-phone1.svg")
            &.mail
                +bgnorep-lc("icon-mail1.svg")
            &.facebook
                +bgnorep-lc("icon-facebook1.svg")
        a
            color: #fff

.contact-helper
    padding: 0 20%
    +below($breakpoint2)
        width: 100%
        padding: 0 15px
    .views-field-body
        color: $color-text
        a
            color: $color-text

.footerblock
    .block-title
        color: #fff
        font: bold 20px/40px $globalfont
        border-bottom: 1px solid rgba(255,255,255,0.5)
        margin-bottom: 20px

.menufooter
    .menu
        +flex-row
        li
            flex-basis: 50%
            margin-bottom: 10px
            a
                +nopadmar
                font: 15px $globalfont
                color: #ffffff
                &:hover
                    background: none

.webform-submission-contact-form
    margin-top: 20px
    padding: 0 20%
    +below($breakpoint2)
        width: 100%
        padding: 0 15px

.hotline
    +posabs2(5px,0)
    width: 200px
    +below($breakpoint2)
        +hide
    .view-content
        .views-row
            .views-field-body
                text-align: center
                p
                    font: bold 17px/25px $titlefont
                    color: #fff
.hotline-mobile
    +above($breakpoint2)
        +hide
    +posfix3(0,0)
    z-index: 10
    +size(120px,120px)
    .view-content
        .views-row
            .views-field-field-custom-url
                a
                    +size(120px,120px)
                    +bgnorep-cc("phonecall.png")
                    background-size: 100% 100%