=common-section
    +centerblock($breakpoint0)
    overflow: hidden
    +below($breakpoint2)
        width: 100%

=common-block-title
    +bgnorep-bc("big-sperator.png")
    background-size: 60px  auto
    font: bold 35px $globalfont
    margin: 20px auto
    padding: 0 0 30px 0
    text-align: center
    text-transform: uppercase
    +below($breakpoint2)
        font-size: 20px
        padding: 0 10px 10px
    a
        text-decoration: none
        &:hover
            color: $color-secondary
        +below($breakpoint1)
            font-size: 20px

=common-textform
    border: 1px solid $color-primary
    border-radius: 4px
    font: 14px $globalfont
    padding: 5px
    box-sizing: border-box

=common-submit-button
    padding: 5px 10px
    font: 14px $globalfont
    border: none
    border-radius: 3px
    color: #fff
    cursor: pointer
    background: darken($color-primary,20%)
    display: inline-block
