/*Trang chủ*/
.path-frontpage
    .page-header,
    article
        +hide
    .footer
        border: none
        padding: 0
        margin-top: 0

.node--type-article
    +centerblock(80%)
    font: 16px/23px $globalfont
    color: $color-text
    text-align: justify
    padding: 0 15px
    +below($breakpoint2)
        width: 100%
    .bs-region
        padding: 0
    p
        margin: 20px 0
    img
        +below($breakpoint2)
            +size(100%,auto)
    h2,h3
        text-align: left
    iframe
        +below($breakpoint2)
            width: 100%

    .field--name-field-thong-tin-phu
        font-size: 13px

    .field--name-field-tags
        width: 100%
        margin-top: 20px
        overflow: hidden
        .field--label
            font: bold 20px $titlefont
        .field--items
            +flex-row
            .field--item
                margin-right: 15px
    
    .field--name-field-bai-viet-lien-quan
        width: 100%
        margin-top: 30px
        overflow: hidden
        .field--label
            font: bold 20px $titlefont
        .field--items
            .field--item
                margin-top: 5px

.page-node-type-product
    .node--type-product
        font: 16px/23px $globalfont
        color: $color-text
        text-align: justify
        margin: 0
        +flex-row
        align-items: stretch
        flex-wrap: wrap
        .bs-region--left
            +below($breakpoint2)
                margin-bottom: 20px
            .field-slideshow
                .field-slideshow-wrapper
                    .field-slideshow-items
                    .cycle-pager-after
                        +flex-row-center
                        border: 1px solid $color-border
                        padding: 0 5px 10px
                        +below($breakpoint2)
                            
                        img
                            margin: 10px 5px 0
                            +size(auto, 50px)
                    .cycle-controls 
                        position: absolute
                        top: 30px
                        z-index: 100
                        background-size: 100% 100%
                        +size(40px, 40px)
                        border-radius: 15px
                        text-indent: 9999px
                        outline: none
                        overflow: hidden
                        &.cycle-controls-prev
                            +bgnorep-cc("icon-prev.svg")
                            left: 25px
                        &.cycle-controls-next
                            +bgnorep-cc("icon-next.svg")
                            right: 25px
        .bs-region--right
            .field--name-field-gia,
            .field--name-field-thong-tin-phu
                +hide
                border: 1px solid $color-border
                border-bottom: none
                padding: 20px
                .field--label
                    line-height: 40px
                .field--item
                    font: bold 30px/40px $titlefont

            .field--name-field-mo-ta-san-pham
                border: 1px solid $color-border
                border-bottom: none
                padding: 20px
                .field--label
                    font: bold 22px $globalfont
                    color: $color-primary
                    margin-bottom: 15px
                    text-transform: uppercase

            .field--name-field-khoi-hotline
                .block-title
                    +hide
                border: 1px solid $color-border
                background: $color-primary
                border-top: none
                padding: 0 20px 
                font: bold 30px/90px $globalfont
                text-align: center
                color: #fff

        .bs-region--bottom
            margin-top: 20px
            .field--name-body
                .field--label
                    padding: 0 20px
                    font: bold 20px/40px $titlefont
                    background: $color-border
                    border-radius: 3px 3px 0 0
                    +below($breakpoint2)
                        font: bold 20px/40px $titlefont
                        text-align: center
                .field--item
                    padding: 20px
                    border: 1px solid $color-border
                    img,
                    iframe
                        +below($breakpoint2)
                            +size(100%,auto)
                    table
                        +below($breakpoint2)
                            width: 100% !important

//Table of content style
.widget-toc
    border: 1px solid $color-border
    border-radius: 5px
    padding: 10px
    display: inline-block
    .toc-title
        margin: 0
        font: bold 20px $globalfont
        padding-bottom: 10px
        border-bottom: 1px solid $color-border
        margin-bottom: 10px
        text-align: center
    ol
        list-style: none