.view-content
    .flexslider .slides li,
    .views-row
        position: relative
        .views-field-edit-node
            +posabs1(5px,5px)
            +size(25px,25px)
            +bgnorep-cc("icon-edit.svg")
            +opacity-hover
            background-size: 60% 60%
            border-radius: 5px
            background-color: rgba(0,0,0,0.8)
            border: 1px solid rgba(0,0,0,0.4)
            a
                +size(100%,100%)
                opacity: 0
            &:hover


.more-link
    text-align: center
    a
        +opacity-hover
        display: inline-block
        font: 17px/35px $globalfont
        color: $color-text
        padding: 0 25px
        background: none
        border: 1px solid #666
        &:hover
            text-decoration: none

.gallery-list
    .view-content
        +flex-row
        .views-row
            margin-bottom: 30px
            .video-embed-field-launch-modal
                +bgnorep-cc("icon-play-white.svg")
                background-color: #000
                background-size: 40% 40%
                img
                    cursor: pointer
                    &:hover
                        opacity: 0.5
            .views-field-title
                text-align: center
                font: 14px/25px $globalfont
                margin-top: 10px
                color: $color-primary

.article-list
    .view-content
        +flex-row
        .views-row
            margin-bottom: 30px
            .views-field-title
                margin: 15px 0 0 0
                h3
                    margin: 0
                a
                    +opacity-hover
                    font: bold 18px/25px $globalfont
                    color: $color-primary
                    &:hover
                        text-decoration: none
            .views-field-field-image
                img
                    +size(100%,auto)
            .views-field-field-thong-tin-phu
                font: 13px $globalfont
                margin: 5px 0 10px 0
            .views-field-body
                font: 14px/20px $globalfont
                text-align: justify
                margin-top: 10px
                +below($breakpoint2)
                    font-size: 17px
            .views-field-view-node
                margin-top: 15px
                a
                    +opacity-hover
                    color: #fff
                    display: inline-block
                    font: 14px/30px $globalfont
                    padding: 0 30px
                    background: #333
                    border-radius: 5px
                    &:hover
                        text-decoration: none

.client-list
    .view-content
        //+flex-row
        //.views-row
            //width: 25%
            //padding-right: 10px

.mangxahoi-list
    .view-content
        +flex-row
        .views-row
            margin-right: 10px
            width: 40px


.sanpham-list
    .view-content
        +flex-row
        .views-row
            margin-bottom: 30px
            .views-field-title
                margin-top: 10px
                a
                    font: 15px/20px $titlefont
