@import "variables"
@import "w3ateamlibs/lib-master"
@import "mixins"
@import "views"
@import "blocks"
@import "pages"
@import "modules"

body
    //+bgnorep-tc("mainbg.jpg")
    //background-attachment: fixed
    //background-size: 100% 100%
    &.navbar-is-fixed-top
        margin-top: 103px
        +below($breakpoint2)
            margin-top: 65px
    .main-container
        padding: 0
        & > .row
            margin-left: 0
            margin-right: 0
    .region-navigation-collapsible
        position: relative
    .region-bottom-fullwidth
        & > .row
            margin-left: 0
            margin-right: 0
    .footer-wrapper
        background: #024073
        padding-top: 30px
        margin-top: 30px
        padding-bottom: 30px
    .footer
        padding-top: 0
        margin-top: 0
        border: none

h2, h3
    font-family: $globalfont
    +below($breakpoint2)
        font: bold 23px/25px $globalfont
        text-align: left